.chart {
  flex: 4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
  padding: 10px;
  color: gray;
  .title {
    margin-bottom: 20px;
  }
  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
